{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="text-primary">{{ post.title }}</h1>
        <p class="badge badge-secondary">
        Published {{ post.publish }} by {{ post.author }}
        </p>
        <p class="text-justify">{{ post.body|linebreaks }}</p>
    </div>
</div>
<br>
<div class="card">
<div class="card-body">
<h5>{{comments.count }} Comments</h5>
{% if comments %}
    <div class="list-group">
        {% for comment in comments %}
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">{{comment.body}}</p>
                <small>commented by {{ comment.name }} on <span class="badge badge-light">{{comment.created}}</span></small>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary" value="Send e-mail">Submit</button>
    </form>
</div>
</div>
{% endblock %}