{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<a class="" href="{% url 'account:dashboard' %}">back</a>
<div class="card">
    <div class="card-body">
        <h3 class="text-primary">{{ post.title }}</h3>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-right">
                <input type="submit" value="update" class="btn btn-info">
                <a class="btn btn-danger" href="{{ post.delete_url }}">delete</a>
                {% if post.status == 'draft' %}
                <a class="btn btn-primary" href="{{ post.publish_url }}">publish</a>
                {% endif %}
            </div>
        </form>
        
    </div>
</div>
{% endblock %}